/* Stylesheet for the TPL Settings */



// Add some margin below the title for better look
#tpl-options-main-title {
	margin-bottom: 20px;
}

#tpl-settings-tabs {
	max-width: 1200px;
}


// Make it a new line
.clearfix {
	clear: both;
}


.tpl-field input {
	padding: 3px 8px;
}


// Format of metabox elements
.tpl-meta-option {
	margin-top: 24px;
	width: 100%;

	.tpl-meta-option-label {
		width: 30%;
		max-width: 200px;
		padding-right: 20px;
		display: block;
		float: left;
		font-weight: bold;
	}

	.tpl-meta-option-wrapper {
		display: block;
		float: left;
		width: 70%;
	}

	.tpl-button-container {
		width: ~"calc(70% + 220px)";
	}

	button {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.tpl-combined-wrapper button {
		margin-bottom: 0;
	}

	.tpl-datatype-container button {
		margin-top: 0;
	}

	.tpl-field {
		clear: both;

		.tpl-button-container {
			width: 100%;
		}
	}
}



// The look of the tabs in Theme Options
.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;

	.ui-tabs-nav {
		margin: 0;
		padding: .3em .3em 0;
		border-bottom: 1px solid #ccc;

		li {
			list-style: none;
			position: relative;
			top: 1px;
			margin: 0 .2em -4px 0;
			border-bottom: 0 !important;
			padding: 0;
			white-space: nowrap;

			a {
				float: left;
				padding: .5em 1em;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				font-size: 16px;
				background: #ddd;
				outline: none;
				box-shadow: none;
				cursor: pointer;
			}

			&.ui-tabs-selected {
				margin-bottom: 0;
				padding-bottom: 1px;
			}

			&.ui-tabs-active a {
				background: #f1f1f1;
				cursor: default;
			}
		}
	}

	.ui-tabs-panel {
		display: block;
		border-width: 0;
		padding: 1em 1.4em;
		background: none;
	}

	.ui-tabs-hide {
		display: none !important;
	}
}



// Some data type specific formatting
.static {
	font-weight: bold;
}


// Style of the option descriptions on Settings pages
.tpl-optiondesc {
	padding: 10px 10px 30px !important;
	border-bottom: 1px solid #ccc;
	font-style: italic;
	color: #aaa;

	tr:last-child & {
		border-bottom: 0;
	}
}

.tpl_settings_page_wrap p.submit {
	margin-top: 0;
}


.tpl-button-row td {
	padding-top: 0;
}


// Error message box
.tpl-error {
	border: 1px solid #a00;
	border-radius: 3px;
	background: rgba(255,0,0,0.2);
	display: inline-block;
	padding: 4px 12px;
	color: #a00;
}

.tpl-global-error {
	display: block;
	padding: 8px 15px;

	p {
		margin: 0;
		padding: 0;
	}
}



// Display of the fields
.tpl-datatype-container {
	width: 100%;
	max-width: 800px;
	display: flex;

	.tpl-datatype-prefix, .tpl-datatype-suffix {
		display: inline-block;
		line-height: 40px;
		background-color: #ddd;
		text-align: center;
		padding: 0 10px;
		margin: 0;
	}

	input:not([type=button]), select, textarea {
		width: 100%;
		min-width: 0;
	}

	input, select {
		height: 100%;
		min-height: 40px;
		margin: 0;
	}

}



// Admin icons
.tpl-default-value {
	color: #888;
	display: block;
	clear: both;
}

.tpl-admin-hide {
	display: none !important;
}

.tpl-admin-icon {
	font-size: 1.6em;
	display: inline-block;
	color: #bbb;
	position: relative;
	cursor: pointer;
	text-align: center;

	&.tpl-admin-question {
		color: #bbb;
		margin-left: 6px;
		font-size: 1.33333333em;
	}

}



// Adding common Less rules
@import "common.less";

// Adding responsive Less file
@import "media.less";
