/* Enter your custom LESS code for different media sizes */

@media (max-width: 1280px) {

	.tpl-meta-option {
		flex-direction: column;

		.tpl-meta-option-wrapper, .tpl-button-container {
			width: 100%;
		}

		.tpl-meta-option-label {
			padding-bottom: 6px;
			width: 100%;
			max-width: none;
		}

		button {
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}

	.tpl-repeat {
		& > .tpl-field-inner {
			padding: 12px;
		}
	}

}



@media (max-width: 1200px) {

}



@media (max-width: 1040px) {

	.tpl-field:not(.tpl-repeat) > .tpl-field-inner {
		padding-right: 0px;
	}

}



@media (max-width: 960px) {

}



@media (max-width: 800px) {

	.tpl-primary-form-row {
		flex-direction: column;
		padding-bottom: 24px;
	}

	.tpl-primary-form-row td {
		padding-top: 10px;
	}

	.tpl-primary-form-row .tpl-primary-label {
		padding-top: 24px;
		width: 100%;
	}

}



@media (max-width: 600px) {

}



@media (max-width: 480px) {

}



@media (max-width: 360px) {

}
